.natureza{
  background: url("https://img.magnific.com/fotos-premium/natureza-de-folha-verde-usando-como-fundo-ou-papel-de-parede_103077-79.jpg");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.App {
    text-align: center;
  }
  
  
  h1{
    margin: 0;
    padding: 50px;
    font-size: x-large;;
  }
  
  .pokemonContainer{
    text-align: center;
    gap: 10px;
  }
  
  .card-pokemon{
    background-position: 0cm;
    height: 490px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 30px black;
    border-radius: 60px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    background-image: url("https://wallpapers.com/images/hd/hd-nature-background-nzot3xtc5xd1r4gn.jpg");
  }
  
  body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
  }


  
  .pokemon-card img{
    height: 200px;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  