h1{
  margin: 0;
  padding: 50px;
  font-size: x-large;
}

.botoes{
  
}

.App {
  text-align: center;
}

.pokemon-container{
  text-align: center;
  gap: 10px;
}

.pokemon-card{
  background-position: 0cm;
  height: 490px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 30px black;
  border-radius: 60px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  background-image: url("https://thumbs.dreamstime.com/b/lava-quente-e-rocha-dentro-da-ilustra%C3%A7%C3%A3o-do-vulc%C3%A3o-d-papel-de-parede-na-forma-fant%C3%A1sticas-montanhas-queimadas-encostas-um-com-216287302.jpg");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
}

.pokemon-card.fire{
  border: 2px solid orange;
}
.pokemon-card.grass{
  border: 2px solid green;
  background: url("https://img.magnific.com/fotos-premium/natureza-de-folha-verde-usando-como-fundo-ou-papel-de-parede_103077-79.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pokemon-card.ground{
  border: 2px solid brown;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQadjmW9sQrTklKPd-McskQF9bQbdmIo1UGA&s");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pokemon-card.dark{
  border: 2px solid purple;
  background: url("https://t4.ftcdn.net/jpg/03/14/20/09/360_F_314200930_dR5YrwQfjw5zTCVWtmRggDVbOw4Ce6p8.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pokemonimagem.cyndaquil{
  background: url("../../assets/cyndaquil.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}

.pokemonimagem.turtwig{
  background: url("../../assets/turtwig.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}


.pokemonimagem.cubone{
  background: url("../../assets/cubone.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}

.pokemonimagem.sableye{
  background: url("../../assets/sableye.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
